.clock {
    &__inner {
        position: relative;
        height: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        flex: 1;
        & svg {
            position: absolute;
        }
    }

    &__play {
        width: 100px;
        height: 120px;
        transform: translateY(-25px) translateX(10px);
        cursor: pointer;
        z-index: 5;
    }
    &__time {
        transform: translateY(90px);
        color: white;
        position: absolute;
        font-size: 50px;
        height: 50px;
    }
}
